/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */


:root {
    --primary: white;
}

.hlavni-recept {
    display: flex;
    flex-direction: column-reverse;
    background-image: linear-gradient(hsla(0 0% 0% / 0.2), hsla(0 0% 0% / 0.2)), url(images/salat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
    color: var(--primary);
    padding: 0.5rem;
}

.recept {
    display: flex;
    flex-direction: column-reverse;
    min-height: 90px;
    padding: 0.5rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


.chlebicek {
    background-image: linear-gradient(hsla(0 0% 0% / 0.2), hsla(0 0% 0% / 0.2)), url(images/chlebicek.jpg);
}

.cizrna {
    background-image: linear-gradient(hsla(0 0% 0% / 0.2), hsla(0 0% 0% / 0.2)), url(images/cizrna.jpg);
}

.tacos {
    background-image: linear-gradient(hsla(0 0% 0% / 0.2), hsla(0 0% 0% / 0.2)), url(images/tacos.jpg);
}

.burger {
    background-image: linear-gradient(hsla(0 0% 0% / 0.2), hsla(0 0% 0% / 0.2)), url(images/burger.jpg);
}

.hlavni-recept h2 {
    font-family: Raleway, sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--primary);
    text-shadow: 1px 1px 4px #000000;
    padding-top: 8rem;
}

.recept-nazev {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--primary);
    text-shadow: 1px 1px 4px #000000;
    margin: 0;
   padding-top: 3rem;
    
}

a {
    font-family: ‘Source Sans Pro’, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--primary);
}

.recept-meta {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.recept-rubrika {
    font-weight: normal;
}


@media screen and (min-width: 480px) {

    .recepty {
        display: flex;
        flex-direction: column;      
    }

    .hlavni-recept {
        width: 100%;
        min-height: 250px;
    }

    .maly-recept {
        display: flex;
        flex-wrap: wrap;
    }

    .cizrna,
    .chlebicek,
    .tacos,
    .burger {
        display: flex;
        flex-basis: 50%;
        min-height: 150px;
    }

    .cizrna {
        order: 1;
    }

    .tacos {
        order: 3;
    }

    .burger {
        order: 3;
    }

    .tacos,
    .burger {
        border-left: 2px solid var(--primary);
    }

    .recept-nazev {
        font-size: 1.5rem;
    }

    .hlavni-recept h2 {
        font-size: 2rem;
    }

    .recept-meta {
        justify-content: space-between;
        align-items: flex-start;
    }

@media screen and (min-width: 860px) {

    .recepty {
        display: flex;
        flex-direction: row;
    }

    .hlavni-recept {
        min-height: 400px;
        flex-basis: calc(1/3 * 100%);
        border-right: 1px solid var(--primary);
    }

    .maly-recept {
        min-height: 200px;
        width: 50%;
        flex-basis: calc(2/3 * 100%);
    }

    .chlebicek,
    .tacos {
        border-top: none;
    }

    .cizrna {
        order: 4;
    }

    .burger {
        order: 5;
    }

    .recept-nazev {
        font-size: 1.75rem;
    }

    .hlavni-recept h2 {
        font-size: 3rem;
    }
    
}

